body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgb(103,16,18);
  background: linear-gradient(0deg, rgba(103,16,18,1) 0%, rgba(191,31,34,1) 100%);
  color: white;
  font-family: Arial;
}

hr {
  border: 1px solid white;
}

.container {
  width: 33%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-family: Arial;
}

#nav-links a {
  margin: 5px;
  text-decoration: none;
}

.nav-img {
  width: 32px;
  filter: invert(1);
}

#nav-page {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  border-radius: 0.8rem;
  background: rgb(103,16,18);
  background: linear-gradient(45deg, rgba(103,16,18,1) 0%, rgba(105,11,12,1) 100%);
}

.nav-link {
  height: 1.2rem;
  padding: 0.4rem;
  border-radius: 0.8rem;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

.nav-link.active {
  background-color: rgb(191,31,34);
}

#content {
  width: 100%;
}

#people, #repos {
  display: flex;
  flex-direction: column;
}

.person {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.person img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 1rem;
}

.person a {
  color: white;
}

.person a:visited {
  color: white;
}

.repo a {
  color: white;
}

.repo a:visited {
  color: white;
}

footer {
  margin: 4rem auto;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}