---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Home" description="Home page for the CRModders group">
	<h2>Cosmic Modders</h2>
	<hr>
	A group of modders with the goal of unifying Cosmic Reach modding.
</Layout>
